* {
	box-sizing: border-box;

}
.wrapper { 
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	font-weight: 700;

}
body {
	line-height: 1.2;
}
	[class*='col-'] {
  padding: 0;
}
.subtitle-main-section {
    margin: 0 auto 35px auto;
    font-size: 24px;
    line-height: 1.2;
} 

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.card-list {
	margin: 0 auto 30px auto;
}

img {
	height: auto;
	max-width: 100%;
	display: block;
	
}
a {
	text-decoration: none;
}

.wrapper-card-text {
	font-size: 14px;
	line-height: 1.2;
}
.header span {
	font-size: 20px;
}
button {
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden, 
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.foto-icons-button:focus {
	outline: 0;
}
.subtitle-main-section,
.card-list-item p {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.foto-icons-button {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 40px;
	width: 40px;
	border: 4px solid #ffffff;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;

}
.main-section-button,
.card-section-button {
	height: 40px;
	margin: 0 auto;
	border-radius: 20px;
	font-size: 14px;
	line-height: 35px;
}
.main-section-button {
	color: #ffffff;
	background-color: #ff4e50;
	border: 2px solid #ff4e50;

}
.card-section-button {
	border: 2px solid #ff4e50;
	color: #ff4e50;
}

.foto {
	width: 121px;
	height: 121px;
	margin: auto;
	position: relative;
	margin-bottom: 20px;
}
.background {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 540px;
	background-color: #000000;
	background-position-y: 25%;
	color: #ffffff;

}
.container {
	max-width: 320px; 
	padding: 0;
}
.card-section {
	padding: 60px 0;
}
.main-section {
	padding: 0 15px;
}
.main-section-title {
		text-transform: uppercase;
	margin: 0 auto 10px auto;
		font-size: 30px;
		line-height: 1.2;
	}
	.sing-up {
		font-size: 14px;
	}

.sing-up-button {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.sing-up-list {
	height: 35px;
	border: 2px solid rgba(255, 255, 255, 0);
		border-radius: 20px;

	}
.card-section-title {
	font-size: 22px;
	font-weight: 700;
}

.sing-up-list:hover {
	border-color: rgba(255, 255, 255, 1);
}
.section-padding {
padding: 38px 0;
}


.card-section-title {
		margin-bottom: 30px;
	}
.sing-up {
	margin-bottom: 90px;
}

.icon-red {
background-color: #ff4e50;
background-image: url(../img/icon-1.png);
}
.icon-orange {
	background-color: #ffa507;
	background-image: url(../img/icon-2.png);
}
.icon-green {
	background-color: #1cd7ad;
	background-image: url(../img/icon-3.png);
}
.icon-blue  {
	background-color: #4e73db;
	background-image: url(../img/icon-4.png);
}
.foto-icons-button:hover {
width: 45px;
height: 45px;
}
.card-section-button:hover {
color: #ffffff;
	background-color: #ff4e50;
}

@media (min-width: 320px) and (max-width: 767px) {
	.card-list-item:last-child {
	margin-bottom: 0;
}
.card-list-item {
	margin-bottom: 30px;
}

.subtitle-main-section {
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto 20px auto;
} 

.background {
	background-position-x: left;
	background-position-y: 50%;
}
.header {
	padding: 20px 0 0 0;
	margin-bottom: 40px;
}
.subtitle {
	margin: 0 auto 24px auto;
}
}

@media (min-width: 720px) {
		.background {
	background-image: url(../img/background-2.png);
	height: 700px;
}
	.container {
	max-width: 720px; 
}
.main-section-title {
margin: 0 auto 20px auto;
} 
.sing-up {
	margin: 0;
}
.header {
	margin-bottom: 160px;

}
.main-section-title {
	font-size: 52px;
}
}
@media (min-width: 940px) {
	.container {
	max-width: 940px; 
	margin: 0 auto;

}
.background {
	background-size: cover;
	background-image: url(../img/background-3.png);
}
/*	.card-section {
		width: 940px;
	}*/
.card-list-item {
	margin-bottom: 0px;
}
}
@media screen and (min-width: 719px) and (max-width: 939px) {

.card-list-item:nth-child(odd) {
margin-bottom: 30px;
}

}
