* {
	box-sizing: border-box;
}
.wrapper { 
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/*main {
	border-bottom: 1px solid #cccccc;
	flex-grow: 1;
	
} прижать футер к низу страницы
*/
.background {
	/*background-image: url(../img/background.png);*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	background-position: center;
	background-image: linear-gradient(to bottom, rgba(232,130,131,0.9) 30%, rgba(254,209,54,0.8)), url(../img/background.png);
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background {
    background-image: linear-gradient(to bottom, rgba(232,130,131,0.9) 30%, rgba(254,209,54,0.8)), url(../img/background@2x.png);
  }
}


/*ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
*/